.info{
    font-size: 1.5rem !important;
    --text-opacity: 1;
    color: rgba(165,173,198,var(--text-opacity));
    text-align: center;
    line-height: 1;
}
.dollar{
    font-family: 'Montserrat', sans-serif !important;
    color: #386ef7;
    font-size: 4rem !important;
}