.building{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 4rem !important;
}
.defi{
    font-family: 'Montserrat', sans-serif;
    color: #386ef7;
}
.desc{
    line-height: 1.75rem;
    font-family: 'Montserrat', sans-serif !important;
    --text-opacity: 1;
    color: rgba(107,114,128,var(--text-opacity));
    max-width: 36rem;
    margin-top: 2rem !important;
    font-size: 1.125rem;
    text-align: left;
}
.p1-but{
    --text-opacity: 1;
    color: rgba(255,255,255,var(--text-opacity)) !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    height: 3rem!important;
    font-weight: 600!important;
    justify-content: center!important;
    align-items: center!important;
    border-width: 2px!important;
    border-radius: 0.375rem!important;
    border-color: transparent!important;
    --bg-opacity: 1!important;
    background-color: rgba(63,117,255,var(--bg-opacity)) !important;
}
.p1-but-div{
    margin-top: 2rem ;
}


@media screen and (max-width: 800px){
    .building {
        font-family: 'Montserrat', sans-serif !important;
        font-size: 2.5rem !important;
        line-height: 2.5rem;
        text-align: center;
    }
    .defi{
        font-family: 'Montserrat', sans-serif !important;
        font-size: 2.5rem !important;
        line-height: 2.5rem;
        text-align: center;
    }
    .desc{
        text-align: center;
        color: rgba(107,114,128,var(--text-opacity));
        margin-top: 2rem !important;
    }
    .p1-but{
        width : 100%;
    }
    .p1-img{
        width : 100%
    }
    .p1-but-div{
        margin-top: 3rem ;
    }
}
/*
@media screen and (min-width:0px) and (max-width : 767px){
    .part1 {
        text-align: center;
        font-size: 2.5rem !important;
        line-height: 2.5rem;
    }
} */

