.building{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 4rem !important;
}
.defi{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 4rem !important;
    color: #386ef7;
}